html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#board {
    width: 100%;
    height: 100%;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 10em;
}

input[type="radio"][name="level"] {
    display: none;
}
input[type="radio"][name="level"] + label {
    display: block;
    font-size: x-large;
    left: 0;
    right: 0.5em;
    margin: 0.25em;
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d0d0d0;
}
input[type="radio"][name="level"]:checked + label {
    background-color: gold;
}

#win {
    position: absolute;
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    color: gold;
    -webkit-text-stroke: 0.5px black;
    cursor: default;
}
@-webkit-keyframes appearKeyframes { 
    from {
        background-color: rgba(255, 255, 255, 0.0);
        color: rgba(255, 255, 255, 0.0);
        -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.25);
        color: gold;
        -webkit-text-stroke: 0.5px black;
    }
}
#win.appear {
    -webkit-animation: appearKeyframes 1.5s ease-in-out both;
}
.hidden {
    display: none;
}
#win-text {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 144px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
}

.draggedElement {
    pointer-events: none;
}

.dropTarget {
    opacity: 0.6;
}

.fix_mark {
    fill: black;
}