:root {
    --background-color: white;
    --text-color: black;
    --heading-color: cornflowerblue;
    --icons-color: white;
    --menu-highlight-color: lightgoldenrodyellow;
    --shimmer-color-1: rgba(255, 255, 255, 0.0);
    --shimmer-color-2: rgba(255, 255, 255, 0.75);
}
[theme="dark"] {
    --background-color: black;
    --text-color: lightgray;
    --heading-color: darkblue;
    --icons-color: gray;
    --menu-highlight-color: #403000;
    --shimmer-color-1: rgba(250, 250, 210, 0.0);
    --shimmer-color-2: rgba(250, 250, 210, 0.75);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

#header {
    position: fixed;
    top: 0;
    height: 12vmin;
    width: 100%;
    z-index: 1;
    background-color: var(--heading-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#board-container {
    position: fixed;
    top: 12vmin;
    bottom: 12vmin;
    padding-top: 5vh;
}

#board {
    width: 100%;
    height: 100%;
}

#appName {
    font-size: 8vmin;
    font-family: Montserrat, Arial, sans-serif;
    color: var(--icons-color);
}

label {
    cursor: inherit;
}

.svgButton {
    cursor: pointer;
}
.svgButton > path {
    stroke: var(--icons-color);
}
.svgButton > polygon {
    fill: var(--icons-color);
}

#openMenu {
    height: 70%;
}

#menuButton {
    margin-left: 2vmin;
    height: 100%;
}

#newGame {
    visibility: hidden;
    margin-right: 3vmin;
    height: 60%;
}

#menuToggle {
    display: none;
}

#menu {
    display: none;
    cursor: initial;
}
#menuToggle:checked + #menu {
    display: block;
    position: fixed;
    top: 12vmin;
    left: 0;
    margin: 0;
    bottom: 0;
    background-color: var(--background-color);
    border-right: 2px solid var(--heading-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vmin;
    text-align: left;
}

.setLevel {
    display: block;
    cursor: pointer;
    margin: 0.5vmin;
    padding: 3vmin;
}

.currentLevel {
    font-weight: bold;
}

.setLevel:hover {
    background-color: var(--menu-highlight-color);
}

hr {
    margin: 2vmin;
}

#mark_fixed {
    display: none;
}

label[for="mark_fixed"] {
    display: block;
    cursor: pointer;
    margin: 0.5vmin;
    padding: 3vmin;
}

label[for="mark_fixed"]::before {
    content: "☐ ";
}

#mark_fixed:checked + label[for="mark_fixed"]::before {
    content: "☑ ";
}

#light_mode {
    display: none;
}

label[for="light_mode"] {
    display: block;
    cursor: pointer;
    margin: 0.5vmin;
    margin-top: 2vmin;
    padding: 3vmin;
}

label[for="light_mode"]::before {
    content: "🌛";
}

#light_mode:checked + label[for="light_mode"]::before {
    content: "🌞";
}

@keyframes shimmer {
    0% {background-position: 100% 0%;}
    100% {background-position: 0% 100%;}
}

#shimmer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(60deg, var(--shimmer-color-1) 30%, var(--shimmer-color-2) 50%, var(--shimmer-color-1) 70%);
    background-size: 300% 300%;
    background-position: 0% 100%;
}

#shimmer.animate {
    display: block;
    animation-delay: 1s;
    animation: shimmer 6s;
}

.draggedElement {
    pointer-events: none;
}

.dropTarget {
    opacity: 0.6;
}

.fix_mark {
    fill: black;
}

#board[mark_fixed_pieces="false"] .fix_mark {
    display: none;
}