html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#board {
    flex: 1 100%;
}

@media screen and (orientation: portrait) {
    #header {
        font-size: 42pt;
    }
    #newGame {
        top: -24pt;
        font-size: 96pt;
    }
}
@media not screen and (orientation: portrait) {
    #header {
        font-size: 18pt;
    }
    #newGame {
        top: 6pt;
        font-size: 28pt;
    }
}

#header {
    flex: 0;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    padding: 0.75em;
    z-index: 2;
}

label {
    cursor: inherit;
}

#openMenu {
    cursor: pointer;
    position: absolute;
    left: 0.75em;
}

#newGame {
    cursor: pointer;
    position: absolute;
    right: 0.25em;
}

#menuToggle {
    display: none;
}

#menu {
    display: none;
}
#menuToggle:checked + #menu {
    display: block;
    position: fixed;
    top: 3.6em;
    left: 0;
    margin: 0;
    bottom: 0;
    width: 8em;
    background-color: white;
    border-right: 2px solid cornflowerblue;
    color: black;
    font-size: 75%;
    text-align: left;
}

.setLevel {
    display: block;
    padding-left: 1em;
    padding: 0.5em;
}

.currentLevel {
    background-color: lightgoldenrodyellow;
}

.setLevel:hover {
    background-color: #fe6;
}

hr {
    margin: 1em;
}

label[for="mark_fixed"] {
    font-size: 75%;
}

@keyframes shimmer {
    0% {background-position: 100% 0%;}
    100% {background-position: 0% 100%;}
}

#shimmer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.0) 30%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.0) 70%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    z-index: 1;
}

#shimmer.animate {
    display: block;
    animation-delay: 1s;
    animation: shimmer 6s;
}

.draggedElement {
    pointer-events: none;
}

.dropTarget {
    opacity: 0.6;
}

.fix_mark {
    fill: black;
}